<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>899865527848-jgobung80va9a51p36h530rnutrk23ku.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.899865527848-jgobung80va9a51p36h530rnutrk23ku</string>
	<key>API_KEY</key>
	<string>AIzaSyDps9YdVowMQNZcTicrXBWLpQdSHsb4knE</string>
	<key>GCM_SENDER_ID</key>
	<string>899865527848</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Beavean.Anthony.Orange-Chat</string>
	<key>PROJECT_ID</key>
	<string>orange-chat-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>orange-chat-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:899865527848:ios:2718690b902366b53cd71d</string>
</dict>
</plist>